<br>
<br>
<br>
<div class="container" style="display: flex; justify-content: center; align-items: center;">

    <p>Please click on Patient Induction to upload Patient Detail</p>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="navigateToUpload()">Patient Induction</button>

</div>
<br><br>
<div style="display: flex; justify-content: center; align-items: center">
    <p>View Patient Details By Patient Name </p>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="navigateToSearch()">Search Patient</button>
</div>
